/* Main Style File 
 * author http://google.com/+BillRocha 
 * date:  2014/02/08
*/

@import url(lib/reset.css);

* { transition-duration: 0.5s;}
body { background: #000 url(../assets/loren.png) 0 0 fixed; background-attachment: cover}
img { width: 30%; float: left}
h1, h2, h3 { font-weight: bold}
h1 { font-size: 3em; text-align: center}
h2 { font-size: 2.4em}
h3 { font-size: 1.2em; padding:5px 0; margin: 20px 0 0 0; background: #F9F9F9; 
     background-image: linear-gradient( to bottom, #FFF, #F4F4EE, #FFF);}
p {margin: 2px 0}
button { background-image: linear-gradient(to bottom, #EEE, #CCC); border: 1px solid #DDD; border-radius: 4px; padding:5px 15px; cursor: pointer}
button:hover {background-image: linear-gradient(to bottom, #383, #5A5); color:#FFF}
blockquote, blockquote *{ font-style: italic; color:#999;}
blockquote {padding: 20px 0 30px 35px; background: url(image/aspas.gif) left 14px no-repeat}
blockquote b { font-weight: bold}

pre { padding:10px; border: 1px solid #DDD; border-radius: 4px; 
      background: #F4F4F4; color: #345; font-size: 0.79em; word-wrap: break-word; white-space: pre-wrap }
pre.sintaxe { color:#570; font-size: 0.9em}

.container {width:530px; margin:10px; padding:0; background:#FFF; min-height:500px; box-shadow: 0 10px 20px #000}
.sintaxe {font-weight: bold; color:#890; font-size: 1em}
.comands, .usages { margin-bottom: 30px; padding: 20px;}
.usages a { float: right; font-size: .6em; font-weight: bold; display: inline-block; 
            margin:8px 0 0 0; padding: 2px 8px; background: #DDD; 
            background-image: linear-gradient(to bottom, #146, #123); color: #FFF; 
            border-radius: 10px; text-decoration: none}
.usages a:hover { color: #000; background: #DEF; border: 1px solid #DDD}

#play { position: fixed; left:50%; top:-400px; margin:0 0 0 -220px; width: 400px; height: 260px; opacity:0;
       padding: 0 10px; border:1px solid #DDD; box-shadow: 0 5px 10px #234; background: #FFF }
#play iframe {border: none; width: 100%; height: 158px;}
#play div {height: 165px; overflow: auto; margin: 0; padding: 0}
#play button { float: right; margin: 5px 0 0 10px}
#play #playcontent p {padding: 5px 0}

.top, .footer { background: #134; background-image: linear-gradient(to bottom, #146, #123); color: #FFF; margin:0; padding: 20px}
.top *, .footer * {color:#890; text-shadow: 1px 1px 1px #000}
.top h1 { margin: 0; padding: 0;}
.footer { margin-bottom: 0;}
.footer a:hover, .top a:hover {color:#BC0}

/* Menor que 600 pixels. */
@media screen and (max-width: 600px) {
    body {padding:0; margin: 0;  font-size: 0.75em;}
    h1 { font-size: 2em}
    h2 { font-size: 1.4em}
    h3 { font-size: 1em}
    p { padding: 2px 0 0 0; margin: 0 }
    pre { font-size: 0.89em}
    .container {width:100%; margin:0; padding:0; box-shadow: none;}
    .top * {text-align: left}
}

/* Maior que 960 pixels. */
@media screen and (min-width: 990px) {
    .container {margin:30px auto; width: 985px}
    .comands { float: left; width: 380px; padding:0 20px; margin: 0 0 30px 0; border-right: 1px solid #DDD }    
    .usages { float: left; width: 520px; padding:0 20px; margin: 0 0 30px 0}
    .footer {clear:both}
}